<ion-header>
    <ion-navbar>
      <ion-title>
        My Notes
      </ion-title>
   
      <ion-buttons end>
        <button ion-button icon-only (click)="navigateToAddNotePage()" >
          <ion-icon name="md-add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
   
  <ion-content>

  <ion-card *ngFor="let note of notelist | async; let i = index" (click)="delete(note)">
  <!-- <ion-card *ngFor="let note of notelist | async"> -->
      <ion-item>
          <ion-label text-wrap> {{i+1}}</ion-label>
        </ion-item>
        <!-- <ion-item>
            <ion-label text-wrap> {{note?.key}}</ion-label>
          </ion-item> -->
      <ion-item>
        <ion-label text-wrap> {{note?.lsName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap> {{note?.lsDesc}}</ion-label>
      </ion-item>
  </ion-card> 

  </ion-content>